<h1 class="block">All Posts</h1>

<div class="flex flex-col">
  <% @posts.each do |post| %>
    <div>
      <h2><%= link_to post.title, post %></h2>
      <%= post.body %>
    </div>
  <% end %>
</div>
