<%= render_typography(tag: :h1,
                      class: 'pb-2',
                      content: "All Posts!") %>

<div class="flex w-full gap-2 flex-wrap">
  <% @posts.each do |post| %>
    <%= render_card(title: post.title,
                    subtitle: "By #{post.user.email[0..1]} - #{post.created_at.strftime("%B %d, %Y")}",
                    link: post_path(post)) do %>
      <div class="p-6 pt-0">
        <%= post.content %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render_pagination(@pagination) if @posts.total_pages > 1 %>
